body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: #141414;
  font-family: 'Montserrat', sans-serif;
  cursor: default;
}

html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:inherit;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 50px;
}

h2 {
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 27px;
}

p {
 margin: 0;
}

nav {
  margin: 0;
}

header {
  background-color: #0C0B0B;
  order: 20%;
  padding: 2px 50px;
}

footer {
  background-color: #272728;
  padding: 25px 100px;
  margin-top: 200px;
}



.flex {
  display: flex;
}

.flex_cent {
  align-items: center;
  justify-content: center;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_column {
  flex-direction: column;
}

.flex_evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.flex_around {
  display: flex;
  justify-content: space-around;
}

.flex_gap {
  display: flex;
  gap: 60px;
}



.grid {
  display: grid;
}

.grid_2colum {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_heder {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.gird_categories {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.grid_heder_nav {
  display: grid;
  grid-template-columns: 1fr min-content;
}



.font_italic {
  font-style: italic;
}

.medium {
  font-weight: 500
}
.bold {
  font-weight: bold;
}

.semiBold {
  font-weight:600;
}

.extrabold {
  font-weight: 900;
}



.base_nav {
  color: #084259;
  padding: 10px 100px;
  justify-content: end;
}

.base_nav > a:hover {
  color: #2D0FF2;
  text-shadow: #2D0FF2 0px 1px 1px;
}

.logo > img {
  width: 50px;
  height: 50px;

}

.heder_open_button {
   width: 80px;
   height: 30px;
   border-radius: 30px;
   border: 4px solid #084259;
   background-color: inherit;
   color: #084259;
   text-align: center;
}

.heder_open_button:active {
  border: 2px solid #2D0FF2;
  color: #2D0FF2;
}



.mainArticleOne {
  padding: 30px 100px;
  color: white;
}

.mainArticleOneSearch > input {
  width: 800px;
  height: 35px;
  padding-left: 70px;
  font-size: 20px;
  border-radius: 5px;
  background-image: url(foto/Search.png);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 30px;
}

.mainArticleOneSearch {
  padding: 30px 125px;
}

.mainArticleTwo {
  padding: 0px 50px;
  color: white;
}

.mainArticleTwo > form > section > h3 {
  margin: 10px 0px;
  color:#084259;
}



.footer_cop {
  align-items: end;
  justify-content: end;
  color: #4BA4F2;
}

.footer_nav > nav {
  color: white;
}

.footer_nav > nav > a:hover {
  color: #2D0FF2;
}



.imgGames {
  width: 200px;
  height: 200px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px 100px;
}



.artRegister {
  text-align: center;
  padding: 10px;
}

.artRegister > input {
  padding: 8px;
  font-size: 16;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  width: 150px;
  height: 20px;
  color: #D97197;
  background-color: inherit;
  margin: 5px;
}

.artRegister2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.artRegister2 > button {
  color: #FFFFFF;
  background-color: #2D0FF2;
  border-color: #084259;
  border-radius: 5px;
  width: 200px;
  height: max-content;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}





#svg {
  position: relative;
  bottom: 245px;
  left: 222px;
  background-image: url(foto/exit.png);
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-color: inherit;
  border: none;
}  

#registerWindowSection > h1 {
  text-align: center;
  color: #084259;
  font-size: 25px;
}

#overley {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
  display: none;
}

#registerWindowSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 260px;
  padding: 10px 5px 10px 5px;
  background-color: #1E1E1E;
  border: 3px solid #084259;
  color: #FFFFFF;
  border-radius: 10px;
  z-index: 20;
  display: none;
}

.revers {
  padding-bottom: 8px;
  width: fit-content;
  height: min-content;
  font-size: 10px;
  color: #FFF5;
  text-align: center;
  background: none;
  border: none;
}

.revers:hover {
  color: #FFFFFF;
}


#contacts {
  position: relative;
  
  display: flex;
  justify-content: center;
}

.contactsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  top: 25px;
  background-color: rgba(8, 66, 89, 0.7);
  padding: 10px;
  text-align: center;
}

.contactsSection > p {
  color: white;
}

@keyframes accordion {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes removeAccordion {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}